*,html,body{margin:auto 2 auto 0;
    
    
}
body{
    background-image: url('../Img/mitos-gestao-do-tempo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border:1px;
    background-color:#ff0000;
     
        
}

body {

    color: rgb(243, 209, 167)

}


#site{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#site h1{
    width:100%;
    color:rgb(9, 252, 259);
    font-family:'Beautiful Heart';
    font-size:80px;
    
   
}
#site h2{
    width:100%;
    color:red; 
    font-family:'Elephant';
    font-size:px;
    flex:2;
}

/*MENU*/
  
#menu{
    height:70Px;
    width:100%;
    text-align: center;
    

}

#menu ul li{
	display:inline;
	background-color:#06ecec;				
    padding: 10px 50px; 
    margin: 0 5px;              
    position:relative;
    font-family:'Bauhaus 93';
    font-size: 20px;     
}

#menu nav ul li i {
                   color: #069;}

#menu nav ul li a{
    color: #069;
    width: 100px;
    height:100px;
    text-decoration: none;
}
#menu nav ul li a:hover{
    text-decoration: underline;
    text-decoration-color: bisque;
}

#referencias h2{
    color: goldenrod;
    text-align: center;
    font-family: Brush Script MT;
    font-size:40px;
}


#contatos h3{color:rgb(9, 252, 259);
          padding-left: 50px;


          }
REFENCIAS]

#referencias{}

#referencias{color:blue;
        padding:right;     


}
DICAS
#dicas{}
#dicas h2{
color:white ;
  padding: 20px;
  text-align: justify;
          
}
BODY
body img{background-image:url('../Img/MIGUEL.jpeg');
 }

#postagem{
    color:#ff5555;
    justify-content: center;
    padding-right:1000px;

}
#img{padding: 10px;
     align-items: center;
     padding-left: 0px;
     }
     * { margin: 0 auto; padding: 0}

a {
	color: #fff;
	text-decoration: none;
	font-weight: bold
}

.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 50px;

}



.container  nav ul li {
	display: inline;
	color: #fff;
	padding: 10px;
}

@media only screen and(max-width:1000px)and( min-width:px){
  
  .container #menu  nav ul li{
	display:flex;
    flex-direction: column;
	background-color:#06ecec;				
    padding: 10px 50px; 
    margin: 0 5px;              
    position:relative;
    font-family:'Bauhaus 93';
    font-size: 20px;     
}

}
#postagem h2{
  text-align: justify;
  padding: 20px;
    
}

.animacao{
  animation-duration: 2s;
  animation-direction: alternate;
  position:absolute;
  align-items: center;
  background-color: red;
  
  overflow: hidden;
   
}
.animacao p{
  max-width:100%;
  -moz-transition:all 0.3s;
   -webkit transition:all 0.3s;
  transition:all 0.3s;
}
.animacao:hover p{
  -moz-transform:scale(1.3);
   -webkit transform:scale(1.3);
  transform:scale(1.3);
  transform translate:(40px-30px);
  
  
}
}	
